.gallery-wrapper--base {
    height: inherit;
    transition-timing-function: ease-in-out;
    display: flex;
}

.gallery-wrapper--slide-effect {
    transition-property: transform;
}

.gallery-wrapper--fade-effect {
    width: 100%;
    transition-property: opacity;
    position: relative;
}
