.image--base {
    padding: 0;
    margin: 0;
    display: inline-flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate3d(0,0,0);
    img {
        user-select: none;
        object-fit: contain;
    }
}

.wrapper--fade-effect {
    width: max-content;
    overflow: hidden;
}
.wrapper--slide-effect {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Effects */
.image--fade-effect {
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    position: absolute;
}

.image--inOutSlide-effect {
    transition-timing-function: ease-in-out;
    transition-property: transform;
}

/* Image Formats */
.image--full-format,
.image--contained-format {
    width: 100%;
    height: 100%;
    img {
        width: inherit;
        height: inherit;
    }
}

.image--full-format img {
    object-fit: cover;
}

.image--contained-format img {
    object-fit: contain;
}